interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/items/1
  response:
    body:
      string: '{"author":"pg","children":[{"author":"sama","children":[{"author":"pg","children":[{"author":"dmon","children":[],"created_at":"2007-02-25T22:18:23.000Z","created_at_i":1172441903,"id":1079,"options":[],"parent_id":17,"points":null,"story_id":1,"text":"sure","title":null,"type":"comment","url":null}],"created_at":"2006-10-09T19:52:45.000Z","created_at_i":1160423565,"id":17,"options":[],"parent_id":15,"points":null,"story_id":1,"text":"Is
        there anywhere to eat on Sandhill Road?","title":null,"type":"comment","url":null}],"created_at":"2006-10-09T19:51:01.000Z","created_at_i":1160423461,"id":15,"options":[],"parent_id":1,"points":null,"story_id":1,"text":"&#34;the
        rising star of venture capital&#34; -unknown VC eating lunch on SHR","title":null,"type":"comment","url":null}],"created_at":"2006-10-09T18:21:51.000Z","created_at_i":1160418111,"id":1,"options":[],"parent_id":null,"points":57,"story_id":1,"text":null,"title":"Y
        Combinator","type":"story","url":"http://ycombinator.com"}

        '
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - f59ceb4b33f7e664107aa1697eb18dc0
    status:
      code: 200
      message: OK
version: 1
