interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://hn.algolia.com/api/v1/search_by_date?tags=story&hitsPerPage=1
  response:
    body:
      string: '{"exhaustive":{"nbHits":false,"typo":true},"exhaustiveNbHits":false,"exhaustiveTypo":true,"hits":[{"_highlightResult":{"author":{"matchLevel":"none","matchedWords":[],"value":"ThoBustos"},"story_text":{"matchLevel":"none","matchedWords":[],"value":"I
        built an MCP server that generates quizzes from your Claude Code sessions.<p>Reading
        AI explanations feels like understanding, but how much are you actually retaining?
        I wanted active recall instead of passive reading.<p>How it works:\n  - Say
        &quot;Quiz me on what we discussed&quot; in Claude Code\n  - It generates
        questions (multiple-choice, code-writing, open-ended)\n  - Browser opens with
        a terminal-style UI\n  - After each answer, you can chat with an AI tutor\n  -
        Retry quizzes for spaced repetition<p>Tech: TypeScript, MCP SDK, Next.js,
        SQLite, Claude API<p>The whole thing is keyboard-driven (A-D to select, Enter
        to submit). Built it because I kept forgetting things from long Claude sessions
        and wanted something like Anki but automatic.<p>Would love feedback on the
        question generation quality, i''m already thinking in some kind of dashboard,
        reminders, gamifying your grind in the CLI."},"title":{"matchLevel":"none","matchedWords":[],"value":"Show
        HN: Quizz MCP \u2013 Turn Claude Code Conversations into Quizzes"},"url":{"matchLevel":"none","matchedWords":[],"value":"https://github.com/ThoBustos/quizz-mcp"}},"_tags":["story","author_ThoBustos","story_47202555","show_hn"],"author":"ThoBustos","created_at":"2026-03-01T01:15:59Z","created_at_i":1772327759,"num_comments":0,"objectID":"47202555","points":1,"story_id":47202555,"story_text":"I
        built an MCP server that generates quizzes from your Claude Code sessions.<p>Reading
        AI explanations feels like understanding, but how much are you actually retaining?
        I wanted active recall instead of passive reading.<p>How it works:\n  - Say
        &quot;Quiz me on what we discussed&quot; in Claude Code\n  - It generates
        questions (multiple-choice, code-writing, open-ended)\n  - Browser opens with
        a terminal-style UI\n  - After each answer, you can chat with an AI tutor\n  -
        Retry quizzes for spaced repetition<p>Tech: TypeScript, MCP SDK, Next.js,
        SQLite, Claude API<p>The whole thing is keyboard-driven (A-D to select, Enter
        to submit). Built it because I kept forgetting things from long Claude sessions
        and wanted something like Anki but automatic.<p>Would love feedback on the
        question generation quality, i&#x27;m already thinking in some kind of dashboard,
        reminders, gamifying your grind in the CLI.","title":"Show HN: Quizz MCP \u2013
        Turn Claude Code Conversations into Quizzes","updated_at":"2026-03-01T01:17:07Z","url":"https://github.com/ThoBustos/quizz-mcp"}],"hitsPerPage":1,"nbHits":4165449,"nbPages":1000,"page":0,"params":"tags=story&hitsPerPage=1&advancedSyntax=true&analyticsTags=backend","processingTimeMS":2,"processingTimingsMS":{"_request":{"queue":1,"roundTrip":17},"fetch":{"total":1},"total":2},"query":"","serverTimeMS":3}

        '
    headers:
      content-type:
      - application/json
      x-cloud-trace-context:
      - 5719b3e705037cbcc99c37f893b95b8d
    status:
      code: 200
      message: OK
version: 1
